::selection {
  color: #fff;
  background: #ffc1a9;
}

::-moz-selection {
  background: #ffc1a9;
}

@font-face {
  font-family: "Söhne";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Sohne-Buch.woff");
}

@font-face {
  font-family: "Söhne";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Sohne-Kraftig.woff");
}

@font-face {
  font-family: "Söhne";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Sohne-Halbfett.woff");
}

@font-face {
  font-family: "Söhne";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Sohne-Dreiviertelfett.woff");
}

@font-face {
  font-family: "Söhne";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/Sohne-Fett.woff");
}

:root {
  --white: #fff;
  --black: #000;
  --blue: hsl(216, 100%, 50%);
  --darkerBlue: hsl(220, 100%, 50%);
  --green: hsl(161, 100%, 39%);
  --purple: hsl(290, 100%, 60%);
  --red: hsl(13, 100%, 46%);
  --yellow: hsl(42, 100%, 50%);
  --primaryTextLight: hsla(0, 0%, 100%, 95%);
  --primaryTextDark: hsla(0, 0%, 0%, 96%);
  --secondaryTextLight: hsla(0, 0%, 100%, 65%);
  --blur: blur(16px);
  --fontSizePrimary: 7.3em;
  --fontSizeSecondary: 3.6em;
  --fontSizeTertiary: 2.1em;
  --fontSizeQuaternary: 1.3em;
  --fontWeightPrimary: 800;
  --fontWeightSecondary: 600;
  --fontWeightTertiary: 500;
  --fontWeightQuaternary: 400;
  --spaceXXL: 120px;
  --spaceXL: 92px;
  --spaceL: 64px;
  --spaceM: 32px;
  --spaceS: 16px;
  --spaceXS: 8px;
  --spaceXXS: 4px;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --blurBg: rgba(38, 38, 38, 0.73);
    --primaryBlurText: var(--primaryTextLight);
    --saturate: saturate(160%);
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    --blurBg: hsla(0, 0%, 99%, 80%);
    --primaryBlurText: var(--primaryTextDark);
    --saturate: saturate(110%);
  }
}
body {
  font-family: "Söhne", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: var(--background);
  color: var(--primaryText);
  font-size: 62.5%;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
