:root {
  --white: #fff;
  --black: #000;
  --blue: hsl(212, 100%, 50%);
  --blueOnHover: hsl(217, 100%, 43%);
  --green: hsl(161, 100%, 39%);
  --purple: hsl(290, 100%, 60%);
  --red: hsl(13, 100%, 46%);
  --yellow: hsl(42, 100%, 50%);
  --primaryTextLight: hsla(0, 0%, 100%, 95%);
  --primaryTextDark: hsla(0, 0%, 0%, 96%);
  --secondaryTextLight: hsla(0, 0%, 100%, 65%);
  --blur: blur(20px);
  --h1: 6.8em;
  --h2: 4.2em;
  --h3: 3.7em;
  --h4: 2.4em;
  --h5: 1.9em;
  --h6: 1.3em;
  --spaceXXL: 120px;
  --spaceXL: 92px;
  --spaceL: 64px;
  --spaceM: 32px;
  --spaceS: 16px;
  --spaceXS: 8px;
  --spaceXXS: 4px;
}

/* Typefaces */

@font-face {
  font-family: "GT Haptik";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/GT-Haptik-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GT Haptik";
  font-weight: 400;
  font-style: oblique;
  src: url("/fonts/GT-Haptik-Regular-Oblique.woff2") format("woff2");
}

@font-face {
  font-family: "GT Haptik";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/GT-Haptik-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "GT Haptik";
  font-weight: 600;
  font-style: oblique;
  src: url("/fonts/GT-Haptik-Medium-Oblique.woff2") format("woff2");
}

@font-face {
  font-family: "GT Haptik";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/GT-Haptik-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "GT Haptik";
  font-weight: 700;
  font-style: oblique;
  src: url("/fonts/GT-Haptik-Bold-Oblique.woff2") format("woff2");
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --blurBg: rgba(38, 38, 38, 0.73);
    --overlayBg: hsla(0, 0%, 0%, 60%);
    --primaryText: hsla(0, 0%, 100%, 95%);
    --secondaryText: hsla(0, 0%, 100%, 65%);
    --saturate: saturate(180%);
    --opaqueHover: hsla(0, 0%, 100%, 14%);
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    --blurBg: hsla(0, 0%, 100%, 60%);
    --overlayBg: hsla(0, 0%, 0%, 40%);
    --primaryText: hsla(0, 0%, 0%, 95%);
    --secondaryText: hsla(0, 0%, 0%, 65%);
    --saturate: saturate(180%);
    --opaqueHover: hsla(0, 0%, 0%, 7%);
  }
}

body {
  font-family: "GT Haptik", sans-serif;
  background: var(--background);
  color: var(--primaryText);
  font-weight: 400;
  font-size: 62.5%;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-feature-settings: "kern" 1;
  text-rendering: optimizelegibility;
  font-variant-ligatures: common-ligatures;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
