::selection {
  color: #fff;
  background: #ffc1a9;
}

::-moz-selection {
  background: #ffc1a9;
}

@font-face {
  font-family: "Söhne";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Sohne-Buch.woff");
}

@font-face {
  font-family: "Söhne";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Sohne-Kraftig.woff");
}

@font-face {
  font-family: "Söhne";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Sohne-Halbfett.woff");
}

@font-face {
  font-family: "Söhne";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Sohne-Dreiviertelfett.woff");
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --background: hsl(0, 0%, 9%);
    --blendingBackground: darken;
    --blendingBackgroundFill: hsl(0, 0%, 95%);
    --primaryText: hsl(0, 0%, 95%);
    --secondaryText: hsl(0, 0%, 60%);
    --containerBackground: hsla(0, 0%, 67%, 0.16);
    --containerBackgroundHover: hsla(0, 0%, 67%, 0.32);
    --borderRule: hsla(0, 0%, 0%, 0.28);
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    --background: hsl(0, 0%, 95%);
    --blendingBackground: lighten;
    --blendingBackgroundFill: hsl(0, 0%, 9%);
    --primaryText: hsl(0, 0%, 9%);
    --secondaryText: hsl(0, 0%, 40%);
    --containerBackground: hsl(0, 0%, 100%);
    --containerBackgroundHover: hsl(0, 0%, 100%);
    --borderRule: hsla(0, 0%, 0%, 0.07);
  }
}

:root {
  --blue: hsl(199, 100%, 50%);
  --green: hsl(161, 100%, 39%);
  --purple: hsl(290, 100%, 60%);
  --red: hsl(13, 100%, 46%);
  --yellow: hsl(42, 100%, 50%);
  --fontSizePrimary: 4em;
  --fontSizeSecondary: 3.2em;
  --fontSizeTertiary: 2.2em;
  --fontSizeQuaternary: 1.7em;
  --fontWeightPrimary: 700;
  --fontWeightSecondary: 600;
  --fontWeightTertiary: 500;
  --fontWeightQuaternary: 400;
  --spaceXXL: 120px;
  --spaceXL: 90px;
  --spaceL: 60px;
  --spaceM: 30px;
  --spaceS: 15px;
  --spaceXS: 10px;
  --spaceXXS: 5px;
}

body {
  font-family: "Söhne", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: var(--background);
  color: var(--primaryText);
  font-size: 62.5%;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
