/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

button {
  background: none;
  border: none;
  font: inherit;
  line-height: 3rem;
  letter-spacing: -0.024rem;
  text-decoration: none;
  padding: 0.6rem 1.8rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--secondaryLabelColorDark);
  transition: 0.275s;
}

strong {
  font-weight: 600;
  letter-spacing: -0.024rem;
  color: var(--primaryLabelColorDark);
}

body {
  font-family: TT Interphases, -system-ui, system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-feature-settings: "liga" 0;
  text-rendering: optimizelegibility;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: var(--secondaryLabelColorDark);
}

/* Typefaces */
@font-face {
  font-family: TT Interphases;
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/TypeType - Interphases Regular.woff") format("woff"),
    url("/fonts/TypeType - Interphases Regular.woff2") format("woff2");
}

@font-face {
  font-family: TT Interphases;
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/TypeType - Interphases DemiBold.woff") format("woff"),
    url("/fonts/TypeType - Interphases DemiBold.woff2") format("woff2");
}

/* Variables */
:root {
  --primaryLabelColorDark: rgba(0, 0, 0, 0.85);
  --secondaryLabelColorDark: rgba(0, 0, 0, 0.6);
  --primaryLabelColorLight: rgba(255, 255, 255, 0.85);
  --secondaryLabelColorLight: rgba(255, 255, 255, 0.6);
  --container: rgba(227, 227, 227, 0.42);
  --overlay: rgba(249, 249, 249, 0.92);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --primaryLabelColorDark: color(display-p3 0 0 0 / 0.85);
    --secondaryLabelColorDark: color(display-p3 0 0 0 / 0.6);
    --primaryLabelColorLight: color(display-p3 1.0001 1 0.9999 / 0.85);
    --secondaryLabelColorLight: color(display-p3 1.0001 1 0.9999 / 0.6);
    --container: color(display-p3 0.8902 0.8902 0.8901 / 0.42);
    --overlay: color(display-p3 0.9765 0.9765 0.9764 / 0.92);
    --white: color(display-p3 1.0001 1 0.9999);
    --black: color(display-p3 0 0 0);
  }
}
