/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
}

button {
  background: rgba(0, 0, 0, 0);
  border-radius: 1.5rem;
  border: none;
  font: inherit;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: var(--body);
  transition: 120ms ease-out;
}

button:hover,
button:active {
  background-color: var(--hover);
  color: var(--title);
}

button:disabled {
  opacity: 0.25;
  pointer-events: none;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: var(--title);
}

strong {
  font-weight: 500;
  color: var(--title);
}

body {
  font-family: Suisse Intl, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: var(--body);
  min-height: 100vh;
}

/* Typefaces */
@font-face {
  font-family: Suisse Intl;
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/SuisseIntl-Light.woff") format("woff"),
    url("/fonts/SuisseIntl-Light.woff2") format("woff2");
}

@font-face {
  font-family: Suisse Intl;
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/SuisseIntl-Medium.woff") format("woff"),
    url("/fonts/SuisseIntl-Medium.woff2") format("woff2");
}

/* Variables */
:root {
  --black: rgb(0, 0, 0);
  --opaque: rgba(249, 249, 249, 0.94);
  --body: rgb(77, 77, 77);
  --title: rgb(38, 38, 38);
  --hover: rgba(0, 0, 0, 0.12);
  --border: rgba(0, 0, 0, 0.09);
  --transparent: rgba(0, 0, 0, 0);
  --white: rgb(255, 255, 255);
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --black: color(display-p3 0 0 0);
    --opaque: color(display-p3 0.9765 0.9765 0.9764 / 0.94);
    --body: color(display-p3 0.302 0.302 0.3019);
    --title: color(display-p3 0.149 0.149 0.149);
    --hover: color(display-p3 0 0 0 / 0.12);
    --border: color(display-p3 0 0 0 / 0.09);
    --transparent: color(display-p3 0 0 0 / 0);
    --white: color(display-p3 1.0001 1 0.9999);
  }
}
