:root {
  --red: hsl(349, 92%, 59%);
  --redOnHover: hsl(349, 78%, 55%);
  --spaceL: 30px;
  --spaceM: 24px;
  --spaceS: 18px;
  --spaceXS: 12px;
  --spaceXXS: 6px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: TTInterphases, sans-serif;
  background: var(--background);
  color: var(--primaryText);
  font-weight: 400;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-feature-settings: "kern" 1;
  text-rendering: optimizelegibility;
  font-variant-ligatures: common-ligatures;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* Typefaces */

@font-face {
  font-family: TTInterphases;
  font-weight: 400;
  src: url("/fonts/TTInterphasesRegular.woff") format("woff"),
    url("/fonts/TTInterphasesRegular.woff2") format("woff2");
}

@font-face {
  font-family: TTInterphases;
  font-weight: 500;
  src: url("/fonts/TTInterphasesMedium.woff") format("woff"),
    url("/fonts/TTInterphasesMedium.woff2") format("woff2");
}

@font-face {
  font-family: TTInterphases;
  font-weight: 600;
  src: url("/fonts/TTInterphasesDemiBold.woff") format("woff"),
    url("/fonts/TTInterphasesDemiBold.woff2") format("woff2");
}
