.slide {
  position: fixed;
  background-color: var(--black);
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.slide::after {
  position: fixed;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(
    to bottom,
    transparent 60%,
    rgba(17, 17, 17, 0) 70%,
    rgba(17, 17, 17, 0.4) 100%
  );
}

.metaDataList {
  display: flex;
  padding: 0;
  margin: 0;
  transition: 600ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-property: opacity, transform;
  margin-bottom: calc(6vh + 7.2rem);
}

.metaDataListItem {
  color: var(--secondaryLabelColorLight);
}

.metaDataListItem:not(:last-child):after {
  content: " · ";
  margin-right: 3px;
}

.watchListSynopsis {
  max-width: 600px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  width: 94%;
  text-align: center;
  color: var(--primaryLabelColorLight);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  mask: linear-gradient(
      0deg,
      transparent 0px,
      transparent calc(22px),
      var(--black) calc(22px)
    ),
    linear-gradient(
      270deg,
      transparent 0px,
      transparent calc(32px),
      var(--black) calc(76px)
    );
  -webkit-mask-position: right bottom;
  transition: 600ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-property: opacity, transform;
}

.desktopVideo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: reveal 600ms;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: reveal 600ms;
}

.mobileVideo {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: reveal 600ms;
}

.articleArtwork {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 41.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/hello-world.jpg);
}

.articleContent {
  background: var(--overlay);
  backdrop-filter: blur(3rem) saturate(200%);
}

.watchListWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--black);
}

.watchListWrapper::before {
  position: fixed;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  top: 40vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.66) 65%
  );
}

.watchListPlayer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--overlay);
  z-index: 3;
  transition: 600ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-property: opacity, transform;
}

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 4%;
  left: 0;
  right: 0;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: scroll;
  z-index: 3;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.footer::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.trailerCloseButton {
  text-decoration: none;
  padding: 0.7rem 1.8rem;
  border-radius: 0;
  background-color: none;
  border: none;
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--primaryLabelColorDark);
  white-space: nowrap;
  transition: 200ms;
  background: var(--container);
  position: fixed;
  top: 4vh;
  right: 3vw;
  border-radius: 3rem;
  backdrop-filter: blur(3rem) saturate(25%);
}

.buttonLink {
  letter-spacing: -0.024rem;
  color: var(--primaryLabelColorDark);
  padding: 0.3rem 1.8rem;
  border-radius: 3rem;
  background: none;
  border: none;
  margin: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes openFilter {
  0% {
    max-width: 3.6rem;
  }

  100% {
    max-width: 60rem;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.filters {
  background: var(--container);
  display: flex;
  margin: 0 0.6rem;
  border-radius: 3rem;
  position: relative;
  backdrop-filter: blur(3rem) saturate(25%);
}

.workFiltersExpanded {
  animation: openFilter 0.6s 1 forwards;
}

.articleFiltersExpanded {
  animation: openFilter 0.9s 1 forwards;
}

.filterSelection {
  position: absolute;
  border-radius: 3rem;
  width: 110px;
  transition: 0.3s;
  background: rgba(17, 17, 17, 0.3);
  z-index: -1;
  top: 0.3rem;
  bottom: 0.3rem;
  left: 0.3rem;
}

.title {
  font-size: 2.1rem;
  line-height: 2.4rem;
  color: var(--primaryLabelColorLight);
  text-align: center;
  transition: 600ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-property: color, opacity, transform;
  margin-bottom: calc(6.6rem + 4vh);
}

.articleTitle {
  padding: 3.6rem 0;
  margin-left: 8vw;
  color: var(--primaryLabelColorDark);
  margin-right: 8vw;
  font-weight: 600;
  font-size: 2.7rem;
  line-height: 3rem;
}

.body {
  margin-left: 8vw;
  margin-right: 8vw;
}

.body:last-of-type {
  padding-bottom: calc(6vh + 8.4rem);
}

.body + .body {
  margin-top: 2.2rem;
}

@media (min-width: 73.6rem) {
  .articleArtwork {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -25vw;
  }

  .articleContent {
    position: relative;
    z-index: 1;
    width: 50vw;
    margin-left: 50vw;
    min-height: 100vh;
  }

  .articleTitle {
    padding-top: calc(6vh + 8.4rem);
  }
}

@media (min-width: 76.8rem) {
  .footer {
    overflow-x: initial;
    justify-content: center;
  }

  .title {
    font-size: 2.7rem;
    line-height: 3rem;
  }

  .desktopVideo {
    display: initial;
  }

  .mobileVideo {
    display: none;
  }

  .watchListSynopsis {
    display: initial;
    overflow: initial;
    mask: initial;
    -webkit-mask-position: initial;
  }
}

@media (min-width: 98rem) {
  .filters {
    display: flex;
  }

  .button:hover,
  .watchListNavButton:hover,
  .watchListNavIconButton:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
}
